/* Styling for the contact popup */
#contact-popup {
  background-color: grey; /* Set background color to grey */
  color: white; /* Set text color to white */
  position: absolute; /* Position the popup */
  top: 55%; /* Adjust top position */
  left: 50%; /* Position 50% from the left edge */
  transform: translateX(-50%); /* Center horizontally */
  width: 100%; /* Set width to 100% */
  max-width: 650px; /* Set maximum width to match the navbar */
  padding: 10px; /* Reduce padding */
  border-radius: 10px; /* Add border radius */
  z-index: 9999; /* Set z-index to ensure it's above other elements */
}



/* Style for contact details */
.contact-details {
display: flex;
flex-direction: column; /* Display items in a column */
margin-top: 10px;
}

/* Style for individual contact item */
.contact-details div {
margin: 1px 0; /* Add margin between items */
}

#contact-popup button.close {
position: absolute; /* Position the close button */
top: 10px; /* Adjust top position */
right: 10px; /* Adjust right position */
background: none; /* Remove background */
border: none; /* Remove border */
color: white !important; /* Set text color to white */
font-size: 20px; /* Set font size */
cursor: pointer; /* Add cursor pointer */
}

#contact-popup button.close:hover {
color: red !important ; /* Change text color to red on hover */
}

.contact-details a {
color: inherit; /* Inherit color from parent */
text-decoration: none; /* Remove underline */
}
