body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: 'Aptos', sans-serif;
}

p {
  font-size: 70px;
  display: block;
  text-align: center;
  line-height: 100px;
  height: 100px;
  margin-top: 30vh; /* Adjusted margin-top */
  text-transform: uppercase;
  letter-spacing: 10px;
}
