/* home.css */

body {
  color: white; /* Set text color to white */
  font-family: 'Aptos', sans-serif;
}

/* Adjustments to the navbar */
nav {
  background-color: grey; /* Set background color to grey */
  padding: 2px 0; /* Add padding for better appearance */
  width: auto; /* Set width to auto */
  max-width: 650px; /* Set maximum width */
  margin-left: auto; /* Center the navbar horizontally */
  margin-right: auto; /* Center the navbar horizontally */
  margin-top: 30px;
  border-radius: 10px; /* Add border radius */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Center the items horizontally */
}

nav ul li {
  margin: 0 5px; /* Add space between items */
}

nav ul li a {
  text-decoration: none;
  color: white; /* Change link color to white */
  display: block; /* Make the anchor tag a block element */
  padding: 10px; /* Add padding to the anchor tag */
}

nav ul li:hover {
  background-color: white; /* Change background color to white on hover */
}

nav ul li a:hover {
  text-decoration: none; /* Remove underline on hover */
}
