<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME PAGE</title>
  <!-- Linking external CSS files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/home.css">
  <link rel="stylesheet" href="/static/css/nav.css">
  <link rel="stylesheet" href="/static/css/cv.css">
  <link rel="stylesheet" href="/static/css/work.css">
  <link rel="stylesheet" href="/static/css/education.css">
  <link rel="stylesheet" href="/static/css/contact.css">
  <link rel="stylesheet" href="/static/css/language.css">
  <link rel="stylesheet" href="/static/css/skill.css">
  <link rel="stylesheet" href="/static/css/project.css">
  <!-- Add style block for background image -->
  <style>
    body {
      background-image: url("/static/images/back.jpg");
      background-size: 100% auto; /* Cover entire viewport width, maintain aspect ratio */
      background-repeat: no-repeat; /* Do not repeat the background image */
      background-position: center top 10px; /* Center horizontally, position 70 pixels from the top */
    }
  </style>
</head>
<body>
  <p>I AM UMESH DAHAL</p>
  <!-- Navigation bar -->
  <nav id="main-nav" style="display: none;">
    <ul>
      <!-- Navigation links -->
      <li><a href="#" onclick="showCVPopup('cv-popup')" id="cv-link">CV</a></li>
      <li><a href="#" onclick="showWorkPopup('work-popup')" id="work-link">Work</a></li>
      <li><a href="#" onclick="showEducationPopup('education-popup')" id="work-link">Education</a></li>
      <li><a href="#" onclick="showSkillPopup('skill-popup')" id="work-link">Skill</a></li>
      <li><a href="#" onclick="showLanguagePopup('language-popup')" id="work-link">Language</a></li>
      <li><a href="#" onclick="showProjectPopup('project-popup')" id="work-link">Project</a></li>
      <li><a href="#" onclick="showContactPopup('contact-popup')" id="contact-link">Contact</a></li>
      <li><a href="/static/images/me.jpg" target="_blank">Image</a></li>
    </ul>
  </nav>
<!-- Popup for CV links -->
<div id="cv-popup" class="popup" style="display: none;">
  <button class="close" onclick="hidePopup('cv-popup')">✕</button>
  <ul>
    <!-- CV links -->
    <li><a href="/static/pdf/cv.pdf" target="_blank">English</a></li>
    <li><a href="/static/pdf/lebenslauf.pdf" target="_blank">German</a></li>
  </ul>
</div>
<!-- Popup for Work Experience -->
<div id="work-popup" class="popup" style="display: none;">
  <button class="close" onclick="hidePopup('work-popup')">✕</button>
  <div class="work-details">
    <div><a href="https://en.wikipedia.org/wiki/Rhein-Main-Verkehrsverbund" target="_blank">- &ensp;December 2023 - Recent &ensp;:&ensp; @Rhein Main Verkehrsverbund</a></div>
    <div><a href="https://en.wikipedia.org/wiki/Fraport" target="_blank">- &ensp;May 2023 - October 2023&ensp;:&ensp; @Fraport AG</a></div>
    <div><a href="https://www.google.com/maps/place/Hampton+by+Hilton+Frankfurt+Airport/@50.0556994,8.5866544,17z/data=!3m1!4b1!4m9!3m8!1s0x47bd0b2a37880ac7:0x83a443cd824756cd!5m2!4m1!1i2!8m2!3d50.055696!4d8.5892293!16s%2Fg%2F11gns8ynqx?entry=ttu" target="_blank">- &ensp;May 2022 - January 2023&ensp;:&ensp; @Hampton by Hilton Frankfurt Airport</a></div>
    <div><a href="https://www.google.com/maps/place/Trip+Inn+Messe+Westend/@50.1150723,8.6538762,16z/data=!3m1!4b1!4m6!3m5!1s0x47bd09509a7aaaa1:0x102c96f7bf1328e0!8m2!3d50.1150689!4d8.6564511!16s%2Fg%2F11fk1570l_?entry=ttu" target="_blank">- &ensp;August 2020 - April 2022 &ensp;:&ensp; @Trip Inn Hotel Frankfurt</a></div>
  </div>
</div>
<!-- Popup for Education -->
<div id="education-popup" class="popup" style="display: none;">
  <button class="close" onclick="hidePopup('education-popup')">✕</button>
  <div class="education-details">
    <div><a href="https://www.frankfurt-university.de/en/" target="_blank">- &ensp;Bachelor&emsp; &emsp; &emsp; &emsp; &nbsp; : &ensp; @Frankfurt University of Applied Sciences</a></div>
    <div><a href="https://www.fh-kiel.de/en/home/" target="_blank">- &ensp;Preparatory Course&ensp; : &ensp; @Kiel University of Applied Sciences</a></div>
    <div><a href="https://www.orchidcollege.edu.np/" target="_blank">- &ensp;School&emsp; &emsp; &emsp; &emsp; &emsp; : &ensp; @Orchid Public Higher Secondary School</a></div>
  </div>
</div>
<!-- Popup for Skill -->
<div id="skill-popup" class="popup" style="display: none;">
  <button class="close" onclick="hidePopup('skill-popup')">✕</button>
  <div class="skill-details">
    <div><a href="https://en.wikipedia.org/wiki/Microsoft_Power_BI" target="_blank">- &ensp;PowerBI</a></div>
    <div><a href="https://en.wikipedia.org/wiki/SQL" target="_blank">- &ensp;Database (SQL)</a></div>
    <div><a href="https://en.wikipedia.org/wiki/HTML" target="_blank">- &ensp;HTML . CSS . JS</a></div>
    <div><a href="https://en.wikipedia.org/wiki/Python_(programming_language)" target="_blank">- &ensp;Python (Django, Numpy, Pandas, Matplotlib)</a></div>
    <div><a href="https://en.wikipedia.org/wiki/Jira_(software)" target="_blank">- &ensp;Project Management Tool (Jira . Trello . MS Project)</a></div>
    <div><a href="https://en.wikipedia.org/wiki/Microsoft_Office" target="_blank">- &ensp;MS Office (Word . Excel . PowerPoint . OneNote . Outlook . SharePoint . Team)</a></div>
  </div>
</div>
<!-- Popup for Language -->
<div id="language-popup" class="popup" style="display: none;">
  <button class="close" onclick="hidePopup('language-popup')">✕</button>
  <div class="language-details">
    <div><a href="https://en.wikipedia.org/wiki/Nepali_language" target="_blank">- &ensp;Native language&emsp; : &ensp; Nepali</a></div>
    <div><a href="https://en.wikipedia.org/wiki/English_language" target="_blank">- &ensp;Fluent&emsp; &emsp; &emsp; &emsp; &nbsp; : &ensp; English (C1)</a></div>
    <div><a href="https://en.wikipedia.org/wiki/German_language" target="_blank">- &ensp;Proficient&emsp; &emsp; &ensp; &nbsp; &nbsp;: &ensp; German (B2)</a></div>
    
  </div>
</div>
<!-- Popup for Project --> 
<div id="project-popup" class="popup" style="display: none;">
  <button class="close" onclick="hidePopup('project-popup')">✕</button>
  <div class="project-details">
    <div><a href="https://github.com/umesh-dahal/bsrn-Password-Manager-" target="_blank">- &ensp;Password Manager (Python)</a></div>
    <div><a href="https://github.com/umesh-dahal/Matching-Algorithmus" target="_blank">- &ensp;Job Matching Algorithm (Python . Machine Learning)</a></div>
    <div><a href="https://github.com/umesh-dahal/webanwendung" target="_blank">- &ensp;Webapplication (HTML . CSS . JS . JAVA . (Gateway API) . SQL)</a></div>
    <div><a href="https://drive.google.com/file/d/1cNt4y9Ceu-0-C_0vr4jkuAr-LKbySXOM/view?usp=drive_link" target="_blank">- &ensp;Webapplication (HTML . CSS . JS . JAVA . Openstreetmap . SQL)</a></div>
  </div>
</div>
<!-- Popup for Contact details -->
<div id="contact-popup" class="popup" style="display: none;">
  <button class="close" onclick="hidePopup('contact-popup')">✕</button>
  <div class="contact-details">
    <div><a href="https://mail.google.com/" target="_blank">- &ensp;Email &emsp; &ensp; &ensp;: &ensp; 1998.dahal.umesh@gmail.com</a></div>
    <div><a href="https://web.whatsapp.com/send?phone=491631763264" target="_blank">- &ensp;Whatsapp &ensp;: &ensp; +49 163 176 3264</a></div>
  </div>
</div>
<!-- Linking external JavaScript files -->
<script src="/static/js/popup.js"></script>
<script src="/static/js/remove_popup.js"></script>
<script src="/static/js/nav.js"></script>
<script src="/static/js/home.js"></script>
</body>
</html>
